/* App.css */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.layout-wrapper {
  padding: 2rem;
  text-align: center;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0;
}

.home-page,
.about-page,
.contact-page,
.education-page,
.project-page,
.services-page {
  padding: 2rem;
  text-align: center;
}
